PORT=8000
JWT_SECRET=NmAzW+felSggi+iWkf/=
MAIN_DOMAIN=https://easybits.cloud
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=sdfgsdfg
AWS_SECRET_ACCESS_KEY=sdfgdsfg/Ho4jM5JtlVEo6CUspd4PGWy
ALERT_FROM_EMAIL="Easybits <mailmask@easybits.cloud>"
ADMIN_EMAILS="fixtergeek@gmail.com, brenda@fixter.org"

# BUCKET
S3_BUCKET=mailmaks

SIDECAR_URL=https://monitor-kuma.fly.dev
SIDECAR_SECRET=sdfgdsfgdfsg